<form (ngSubmit)="sendSignupForm(myForm)" #myForm="ngForm" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Por favor crea tu registro para tener una cuenta</p>
      <hr>
      
      <label for="text"><b>Nombre</b></label>
      <input name="name" [(ngModel)]="name" type="text" placeholder="Tu nombre" >
  
      <label for="email"><b>Email</b></label>
      <input name="email" [(ngModel)]="email" type="text" placeholder="Tu correo" >
  
      <label for="pasword"><b>Contraseña</b></label>
      <input name="password"  [(ngModel)]="password" type="password" placeholder="Tu Password">
  
      <!-- <label for="password-repeat"><b>Contraseña</b></label>
      <input [(ngModel)]= "password2" type="password" placeholder="Tu Password de nuevo">
   -->
      <div class="clearfix">
        <!-- <button (click)="signUp()" *ngIf="newUser.password === newUser.password2">Sign Up</button>
        <button *ngIf= "newUser.password !== newUser.password2" disabled> Sign Up</button> -->
        <button type="submit">Login</button>
      </div>
    </div>
  </form>