<h2>Registrate!</h2>
<input [(ngModel)]="newUser.name" type="text" placeholder="Tu nombre">
<br>
<input [(ngModel)]="newUser.email" type="text" placeholder="Tu correo">
<br>
<input [(ngModel)]="newUser.password" type="password" placeholder="Tu Password">
<br>
<input [(ngModel)]="newUser.password2" type="password" placeholder="Tu Password de nuevo">
<br>
<button (click)="signUp()" *ngIf="newUser.password === newUser.password2">Registrarse</button>
<button *ngIf="newUser.password !== newUser.password2" disabled>Registrarse</button>