<form action="holi" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Por favor crea tu registro para tener una cuenta</p>
      <hr>
      <label for="text"><b>Nombre</b></label>
      <input [(ngModel)]= "newUser.name" type="text" placeholder="Tu nombre" required>
  
      <label for="email"><b>Email</b></label>
      <input [(ngModel)]= "newUser.email" type="text" placeholder="Tu correo" required>
  
      <label for="psw"><b>Contraseña</b></label>
      <input [(ngModel)]= "newUser.password" type="password" placeholder="Tu Password"required>
  
      <label for="psw-repeat"><b>Contraseña</b></label>
      <input [(ngModel)]= "newUser.password2" type="password" placeholder="Tu Password de nuevo"required>
      
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
      
      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  
      <div class="clearfix">
        <button (click)="signUp()" *ngIf="newUser.password === newUser.password2">Sign Up</button>
        <button *ngIf= "newUser.password !== newUser.password2" disabled> Sign Up</button>

      </div>
    </div>
  </form>