<br>
<br>
<br>

<div class= "encabezado">
<h1><b>K A L E U</b></h1>
</div>
<br>
<div class= "subtitulo">
  <h4>Una sola voz</h4>
</div>

<form action="">
                <div class="jumbotron text-center" style="background-color:rgba(255,255,255,.4)">
                                <h1>Sobre Nosotros</h1>
                <br>
                <br>
              
                        <h3>Kaleu es una empresa que se preocupa por cumplir un deseo, nos dedicamos a despertar la imaginación y crear la emoción para volver a soñar.

                          </h3>
                          <br>
                          <br>

                          <h2>Cómo Funciona?</h2>
                          <br>

                          <div class="container">
                              <div class="row">
                                <div class="col-sm-3">
                                  <h3> Paso 1 </h3>
                                  <p>Registrate y escribenos tu sueño</p>
                                </div>
                                <div class="col-sm-3">
                                  <h3>Paso 2</h3>
                                  <p>Nos pondremos en contacto contigo y publicaremos tu historia</p>
                                </div>
                                <div class="col-sm-3">
                                  <h3>Paso 3</h3> 
                                  <p>Vemos la manera de ayudarte</p>
                                </div>
                                <div class="col-sm-3">
                                    <h3>Paso 4</h3> 
                                    <p>Si quieres ser voluntario y ayudar, contáctanos!</p>
                                  </div>
                                
                              </div>
                            </div>
                </div>
               
</form>