<br>
<br>
<br>

<div class= "encabezado">
<h1><b>K A L E U</b></h1>
</div>
<br>
<div class= "subtitulo">
  <h4>Una sola voz</h4>
</div>

<form action="">
                <div class="jumbotron text-center" style="background-color:rgba(255,255,255,.4)">
                                <h1>Creemos que cumplir un deseo <br>
                                        puede transformar la vida</h1>
                <br>
                <br>
                <br>
                <div class="intro">
                        <strong> <h4>Cuando una persona con una enfermedad crítica o sin recursos tiene la posibilidad de hacer realidad un deseo, hay un cambio positivo en la forma en que enfrenta su situación. Un deseo, nos ayuda a dejar atrás nuestras limitaciones; a las familias a sobreponerse ante la adversidad y a la comunidad, a experimentar alegría pero lo más importante es que los deseos pueden mejorar la calidad de vida.</h4></strong>
                </div>
                </div>
               
</form>