<br>
<br>
<br>

<div class= "encabezado">
<h1><b>K A L E U</b></h1>
</div>
<br>
<div class= "subtitulo">
  <h4>Una sola voz</h4>
</div>

<form action="">
                <div class="jumbotron text-center" style="background-color:rgba(255,255,255,.4)">
                                <h1>Nuestras Historias</h1>
                <br>

                  <div *ngFor="let coment of comentList">
                    <h4> <b>{{coment.title}}</b></h4>
                    <p>{{coment.body}}</p>
                  </div>

                <h4> <b> Paqui y Alvaro </b> </h4>
              
                        <p>Álvaro necesita apoyo para casi todas las tareas de su vida. Además se autoagredía constantemente. Su madre, Paqui Azorín nos cuenta como ahora, gracias al apoyo de profesionales y de ellas misma, ha logrado comunicarse con su hijo y establecer una relación normal..
                        </p>

                        <br>
                        
                       <h4> <b> Ángel y Josele </b></h4> 
                      <p>La relación de amistad de Ángel y Josele es muy natural, muy pura, muy humana. Una amistad que es capaz de superar todas sus limitaciones y romper prejuicios y barreras. Es una relación inseparable, desde que se le levantan hasta que se acuestan pasan prácticamente el día juntos.</p>
                          <br>

                          <h4> <b> Teresa y Rafa </b></h4>
                          <p>El accidente nos cambió la vida. A partir de ahí os podéis imaginar, superando continuamente obstáculos. Yo como madre de un niño con una necesidad especial tenía que ser muy autónoma y he luchado mucho para que los dos tengamos la mayor autonomía posible. Con los apoyos necesarios lo hemos conseguido, porque además la familia la tenemos lejos. Tenemos nuestras limitaciones pero intentamos cada día superarnos.</p>
                          <br>

                </div>
               
</form>