<br>
<br>
<br>

<div class= "encabezado">
<h1><b>K A L E U</b></h1>
</div>
<br>
<div class= "subtitulo">
  <h4>Una sola voz</h4>
</div>

<form action="">
                <div class="jumbotron text-center" style="background-color:rgba(255,255,255,.4)">
                                <h1>Se parte de nuestro equipo y colabora con nosotros!</h1>
                <br>
                <h4> Seas quien seas, tú también puedes contribuir a esta asociación llena de amor. 
                  Está en tus manos el querer ayudar y que nos unamos un poco más como sociedad! 
                  En KALEU te proponemos distintas formas de ayudar!
                Solo tienes que registrarte y contarnos que tu sueño es ser voluntario! </h4>
              <br>
              <br>
              
                <h2>Cómo Funciona?</h2>
                          <div class="container">
                              <div class="row">
                                <div class="col-sm-4">
                                  <h3> Paso 1 </h3>
                                  <p>Registrate y escribenos diciendo que quieres ser voluntario.</p>
                                </div>
                                <div class="col-sm-4">
                                  <h3>Paso 2</h3>
                                  <p>Nos pondremos en contacto contigo y te asignaremos una historia</p>
                                </div>
                                <div class="col-sm-4">
                                  <h3>Paso 3</h3> 
                                  <p> Nos unimos para ayudar!</p>
                                </div>
                                
                                
                              </div>
                            </div>

                </div>
               
</form>