/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

body{
        background-image: url("https://static.pexels.com/photos/235994/pexels-photo-235994.jpeg");
      background-size: cover;
    }

form {
  position: relative;
  width: 92%;
  height: 50%;
  left: 0;
        top: 0;
  margin: 0 auto;
  padding: 163px 51px;
  padding-top: 163px;
  padding-bottom: 1px;
  border: 80px solid;
  border-top-color: rgba(255,255,255,.4);
  border-left-color: rgba(255,255,255,.4);
  border-bottom-color: rgba(255,255,255,.4);
  border-right-color: rgba(255,255,255,.4);
}



::-webkit-input-placeholder { color: #ccc; text-transform: uppercase; }
::-moz-placeholder { color: #ccc; text-transform: uppercase; }
:-ms-input-placeholder { color: #ccc; text-transform: uppercase; }

.encabezado{ 
    text-align: center;
    font-family: cursive;
    position: absolute;
    top:15%;
    left: 43%;
    color: black;

}

.subtitulo{ 
    text-align: center;
    font-family: cursive;
    position: absolute;
    top:22%;
    left: 45%;
    color: rgba(0, 0, 0, 0.808);

}


.jumbotron {
    height: 60%; 
    text-align: center;
    font-family: cursive;
    margin-top: -142px;
    color:rgba(0, 0, 0, 0.808);
    box-decoration-break: clone;
}

.jumbotron h3{
    text-align: center; 
    font-family: cursive; 
    font-style: inherit;
    color: rgba(0, 0, 0, 0.808);
}

.jumbotron H4{
    text-align: justify; 
    font-family: cursive; 
    font-style: inherit;
    color: rgba(0, 0, 0, 0.808);
}

.jumbotron p{
    text-align: center;
    font-family: cursive; 
    font-style: inherit;
    color:rgba(0, 0, 0, 0.808);
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}



hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}


/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn {
       width: 100%;
    }
}